schemas/att-junit-v2.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="testsuite">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="testcase" minOccurs="0" maxOccurs="unbounded">
          <xs:complexType mixed="false">
            <xs:choice minOccurs="0" maxOccurs="unbounded">
              <xs:element name="failure" type="attMessage"/>
              <xs:element name="error" type="attMessage"/>
              <xs:element name="skipped"><xs:complexType/></xs:element>
              <xs:element name="system-out" type="xs:string"/>
            </xs:choice>
            <xs:attribute name="classname" type="xs:string" use="required"/>
            <xs:attribute name="name" type="xs:string" use="required"/>
            <xs:attribute name="time" type="xs:decimal" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
      <xs:attribute name="tests" type="xs:nonNegativeInteger" use="required"/>
      <xs:attribute name="failures" type="xs:nonNegativeInteger" use="required"/>
      <xs:attribute name="errors" type="xs:nonNegativeInteger" use="required"/>
      <xs:attribute name="skipped" type="xs:nonNegativeInteger" use="required"/>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="attMessage" mixed="true">
    <xs:attribute name="message" type="xs:string"/>
    <xs:attribute name="type" type="xs:string"/>
  </xs:complexType>
</xs:schema>
